@model IEnumerable<DVChatterAttempts.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response"></div>
<button onclick="Test()" id="getChats" class="btn btn-primary">Get Chats</button>

@section Scripts {
    <script>

        //var jsonTest = {"firstName" : "Bob", "lastName" : "Sauce", "children" :
        //[{"firstName" : "Barbie", "age" : 19}, {"firstName" : "Ron", "age" : null}]}

        //$("#response").text(jsonTest.children[1].age);

        function Test(){
        $.get("@Url.Action("TestJson", "Chats")", function (serverResponse) {
            var jsonTest = JSON.parse(serverResponse);
            console.log(jsonTest);
            $("#response").text(jsonTest.firstName);
        });
        }
    </script>}
